<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>bussApp</title>
   
    <link rel="stylesheet" href= "/style.css" >
</head>

<body id="home">
	<h1>We are sorry you encountered a problem.</h1>
	<ul>
		<%
		 %>
		<li><b><%= ErrorMessage %></b></li>
	<% 
	%>
			
	</ul>
    <h3>Why not try again?</h3>

</body>
</html>